@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 500px;
  /* padding: 0rem 3rem; */
  margin: 30px auto;
  /* margin: 0rem 15rem; */
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  /* background-color: #b39e9e; */
  /* padding: 30px; */
  border-radius: 5px;
}

.task {
  /* display: grid; */
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: center; */
  background: #fff;
  /* margin: 1px; */
  border-bottom: rgb(213, 214, 216) 0.01px solid;
  /* margin-top: 5rem; */
  padding: 25px 20px;
  cursor: pointer;
}

.checkbox{
color: gold;
border-color: aqua;
border-radius: 100px;
/* appearance: none; */

width: 2rem;
border: #000 solid 1px;
height: 2rem;

    cursor: pointer;
  
}

.line {
  text-decoration: line-through;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-text {
  text-align: center;
  margin-top: -19rem;
  padding-right: 30rem;
  font-size: 2rem;
  color: #f4f4f4;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}



.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.hpic {
  width: 100%;
  height: 500px;
  /* height: 100vh; */
  background: url('/public/h-back.jpg')  no-repeat center center/cover;
}
