@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(146, 146, 146, 0.164);
}

img {
  display: block;
  width: 100%;
}

.container {
  background-color: #fff;
  max-width: 500px;
  margin: 0px auto;
  min-height: 400px;
  /* border: 1px solid steelblue; */
  /* background-color: #b39e9e; */
  /* padding: 30px; */
  border-radius: 5px;
  padding-top: 0.2rem;
}

.icon-cross {
  /* margin-left: 4rem; */
  margin-left: auto;
  display: none;
}

.task {
  display: flex;
  cursor: pointer;
  user-select: none;

  gap: 1rem;
  align-items: center;
  background: #fff;
  border-bottom: rgb(213, 214, 216) 0.01px solid;
  padding: 25px 20px;
}

.task:hover .icon-cross {
  display: block;
}

.task label {
  cursor: pointer;
}

.checkbox {
  color: gold;
  border-color: aqua;
  border-radius: 100px;
  /* appearance: none; */

  width: 2rem;
  border: #000 solid 1px;
  height: 2rem;

  cursor: pointer;
}

.line {
  text-decoration: line-through;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px auto;
  /* margin-bottom: rem; */

  max-width: 500px;
}

.footer button {
  all: unset;
  cursor: pointer;
}

.adding-todo {
  padding: 0rem 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-text {
  text-align: center;
  margin-top: -19rem;
  padding-right: 30rem;
  font-size: 2rem;
  color: #f4f4f4;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  /* margin-bottom: 40px; */
  /* margin-left: 5rem;
margin-right: 5rem; */
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control-input {
  max-width: 500px;
  margin: 30px auto;
  font-size: 17px;
  border-radius: 5px;
}

.form-control-input input {
  height: 50px;
  width: 500px;
  border-radius: 5px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/* footer {
  margin-top: 30px;
  text-align: center;
} */

.hpic {
  width: 100%;
  height: 500px;
  /* height: 100vh; */
  background: url('/public/h-back.jpg') no-repeat center center/cover;
}
