@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: min(100% - 2rem, 800px);
  margin: 0px auto;
  min-height: 400px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 0.2rem;
}

.icon-cross {
  margin-left: auto;
  display: none;
}

.bg-light {
  background-color: hsl(236, 33%, 92%);
}
.bg-dark {
  background-color: hsl(235, 21%, 11%);
}

.dark-ta {
  background-color: hsl(235, 24%, 19%);
  color: #f4f4f4;
}

.light-ta {
  background-color: hsl(0, 10%, 94%);
}

.task {
  display: flex;
  cursor: pointer;
  user-select: none;

  gap: 1rem;
  align-items: center;
  border-bottom: rgba(213, 214, 216, 0.479) 0.01px solid;
  padding: 25px 20px;
}

.task:hover .icon-cross {
  display: block;
}

.task label {
  cursor: pointer;
}

.checkbox {
  color: gold;
  border-color: aqua;
  border-radius: 100px;
  width: 2rem;
  border: #000 solid 1px;
  height: 2rem;

  cursor: pointer;
}

.line {
  text-decoration: line-through;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-text {
  margin-top: -19rem;
  font-size: 2rem;
  color: #f4f4f4;
  width: min(100% - 2rem, 800px);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-input {
  width: min(100% - 2rem, 800px);
  margin: 30px auto;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
}

.form-control-input input {
  height: 50px;
  width: min(100% - 2rem, 800px);
  border-radius: 5px;
  font-size: 17px;
  padding-left: 1rem;
}

.hpic {
  width: 100%;
  height: 700px;
  background: url('/public/h-back.jpg') no-repeat center center/cover;
}

.hpic2 {
  width: 100%;
  height: 700px;
  background: url('/public/h-back2.jpg') no-repeat center center/cover;
}

.theme-btn-wrap {
  width: min(100% - 2rem, 800px);
  margin: auto;
  display: flex;
  justify-content: end;
}

.theme-btn {
  all: unset;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px auto;
  width: min(100% - 2rem, 800px);
  margin-bottom: 2rem;
}

.desk-footer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.mobile-footer {
  display: none;
}

.footer button {
  all: unset;
  cursor: pointer;
}

.footer .cl-active {
  color: rgb(0, 162, 255);
}

@media (max-width: 800px) {
  .icon-cross {
    display: block;
  }

  .desk-footer {
    display: none;
  }

  .mobile-footer {
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
  }
}
